<header>
  <div class="container">
      <a class="logo" href="index.html"><img src="img/carro-logo-2.png" alt="Carro logo"></a>
      <h1>Fast Car Integrador</h1>
  <nav>
      <ul>
          <li><a href="/sobre">Sobre</a></li>
          <li><a href="/produtos">Produtos</a></li>
          <li><a href="/contato">Contato</a></li>
          <% if(estaLogado) { %>
            <li><a href="/logout"><%= nomeUsuario %> (Fazer logout)</a></li>
            <% } else { %>
            <li><a href="/login">Login</a></li>
          <% } %>
  </nav>
  </div>
</header>