<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastCarIntegrador</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include("./partials/header") %>
    <main>
        <section class="banner">
            <div class="container">
                <p>Transformando a compra de carros no Brasil. Carros incriveis, serviços e manutenção especializada 24 horas ao seu dispor.</p>
                <img src="img/kisspng-ferrari-f430-challenge-lamborghini-murciélago-spo-luxury-cars-5b65003a4f7251.4254277015333458503254.png"  style="width: 50%; height: 20%" alt="Carros da tela inicaial">
            </div>
        </section>
        <section class="servicos">
            <div class="container">
                <h2>Serviços e Produtos</h2>
                <div class="items">
                    <article>
                        <div class="thumb"></div>
                        <img src="img/alinhamento-balanceamento.jpg" style="width: 120%; height: 60%" alt="REVISÃO">
                        <h3>Revisão Completa</h3>
                        <h4>R$1500,00</h4>
                    </article>
                    <article>
                        <div class="thumb"></div>
                        <img src="img/jogo-de-rodas.webp" style="width: 120%; height: 60%" alt="CREATINA">
                        <h3>Jg Roda Aro 20 | Audi</h3>
                        <h4>R$5500,00</h4>
                    </article>
                    <article>
                        <div class="thumb"></div>
                        <img src="img/mercedes.webp" style="width: 120%; height: 60%" alt="BARRAS">
                        <h3> Mercedes CLA 250 | 2022/2022</h3>
                        <h4>R$310.900,00</h4>
                    </article>
                </div>
            </div>
        </section>
        <section class="sobre">
            <div class="container">
                <img src="img/carros-exposicao.jpg"  style="width: 50%; height: 100%" alt="Ilustração de veículos">
                <div class="text">
                    <h3>Os Carros mais incriveis e mais raros do Mercado 
                    </h3>
                    <p>Na <strong>Fast Car Integrador</strong> você acha os melhores veiculos para sua compra,
                    os melhores serviços e caso queira modificar seu veículo venha personaliza-lo conosco!</p>
                </div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>