<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastCarIntegrador</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include("./partials/header") %>
    <main>
        <section class="banner">
            <div class="container">
                <p>Transformando a compra de carros no Brasil. Carros incriveis, serviços e manutenção especializada 24 horas ao seu dispor.</p>
                <img src="img/kisspng-ferrari-f430-challenge-lamborghini-murciélago-spo-luxury-cars-5b65003a4f7251.4254277015333458503254.png"  style="width: 50%; height: 20%" alt="Carros da tela inicaial">
            </div>
        </section>
        <section class="produtos">
            <div class="container">
                <h2>produtos</h2>
                <div class="items">
                  <% produtos.forEach(function(produto) { %>
                    <article>
                      <div class="thumb"><img src="img/carro-logo-2.png %>" style="width: 100%; height: 100%"></div>
                      <h3><%= produto.nome %></h3>
                      <h4>R$ <%= produto.valor %></h4>
                    </article>
                </div>
            </article>
            <h2>Sua Cesta De Compras</h2>
            <div class="items">
                <article>
                    <div class="thumb"></div>
                    <img src="img/Whey-100.png" alt="WHEY">
                    <h3>Whey Protein Concentrado | Whey 100% Pure Pouch</h3>
                    <h4>R$120,00</h4>
                    <h5>Quantidade: 2</h5>
                </article>
                <article>
                    <div class="thumb"></div>
                    <img src="img/Creatina.png" alt="CREATINA">
                    <h3>Aminoácidos | Creatina em Cápsulas | Integralmédica</h3>
                    <h4>R$85,00</h4>
                    <h5>Quantidade: 2</h5>
                </article>
                <article>
                    <div class="thumb"></div>
                    <img src="img/Barras.png" alt="BARRAS">
                    <h3> Barra Pushing Bar | Sabor Chocolate | Integralmédica</h3>
                    <h4>R$75,00</h4>
                    <h5>Quantidade: 3</h5>
                </article>
                </div>
    
                    <% }) %>
                </div>
            </div>
        </section>
        <section class="sobre">
            <div class="container">
                <img src="img/carros-exposicao.jpg"  style="width: 50%; height: 100%" alt="Ilustração de veículos">
                <div class="text">
                    <h3>Os Carros mais incriveis e mais raros do Mercado ...
                    </h3>
                    <p>Na <strong>FastCarIntegrador</strong> você acha os melhores veiculos para sua compra.
                    Os melhores serviços para os seus importatos e customizados.
                    E caso ainda não tenha um carro tunado venha personalizar seu veiculo conosco !</p>
                </div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>