<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastCarIntegrador</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include("./partials/header") %>
    <main>
    </section>
    <section class="servicos">
        <div class="container">
            <h2>Serviços e Produtos</h2>
            <div class="items">
                <article>
                    <div class="thumb"></div>
                    <img src="img/alinhamento-balanceamento.jpg" style="width: 120%; height: 60%" alt="REVISÃO">
                    <h3>Revisão Completa</h3>
                    <h4>R$1500,00</h4>
                </article>
                <article>
                    <div class="thumb"></div>
                    <img src="img/jogo-de-rodas.webp" style="width: 120%; height: 60%" alt="RODAS">
                    <h3>Jg Roda Aro 20 | Audi</h3>
                    <h4>R$5500,00</h4>
                </article>
                <article>
                    <div class="thumb"></div>
                    <img src="img/mercedes.webp" style="width: 120%; height: 60%" alt="MERCEDES">
                    <h3> Mercedes CLA 250 | 2022/2022</h3>
                    <h4>R$310.900,00</h4>
                </article>
                <article>
                    <div class="thumb"></div>
                    <img src="img/tapete.webp" style="width: 120%; height: 60%" alt="REVISÃO">
                    <h3>Tapete Carpete Ferrari | Testarossa 84 A </h3>
                    <h4>R$899,00</h4>
                </article>
                <article>
                    <div class="thumb"></div>
                    <img src="img/mercedesc200.webp" style="width: 120%; height: 60%" alt="RODAS">
                    <h3> Mercedes-Benz C 200 | 2022/2022</h3>
                    <h4>R$349.900,00</h4>
                </article>
                <article>
                    <div class="thumb"></div>
                    <img src="img/blindagem.jpg" style="width: 120%; height: 60%" alt="MERCEDES">
                    <h3> Blindagem e assistência</h3>
                    <h4>R$54.900,00</h4>
                </article>
                <article>
                    <div class="thumb"></div>
                    <img src="img/pintura-carro.jpg" style="width: 120%; height: 60%" alt="MERCEDES">
                    <h3> Pintura Automotiva</h3>
                    <h4>R$3000,00</h4>
                </article>
            </div>
        </div>
    </section>
    </main>
    <%- include("./partials/footer") %>
</body>

</html>