<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastCarIntegrador</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include('./partials/header') %>
    <main>
        <section class="sobre">
            <div class="container">
                <img src= "img/logo.png" alt="Logo sobre página">
                <div class="text">
                    <h1>SOBRE</h1>

                    <p>Conheça um pouco sobre o FastCarIntegrador.</p>
                </div>
            </div>
        </section>
        <section class="team">
            <div class="container">
                <h2>FastCarIntegrador</h2>
                <p>No começo dos anos 2000, o comércio de veículos do Mato Grosso do Sul viveu uma virada histórica. Cada vez mais, empresas especializadas no comércio de veículos seminovos e novas concessionárias chegavam ao mercado regional. Com isso, era preciso uma nova ferramenta de busca e negociação. Assim, nasceu, em 2002, o site FastCarIntegrador – www.fastcarintegrador.com.br . Através de parcerias com confiáveis empresas do ramo, o site passou a disponibilizar um serviço de exposição de veículos e várias informações sobre o assunto.</p>

                <p>O agora Portal FastCarIntegrador
                    , atinge, através de seu conteúdo, um público formado por pessoas interessadas na compra e venda de veículos em geral, formadoras de opinião e aptas a assimilar novas tendências e oportunidades. Hoje, reunimos em nossas páginas tudo que diz respeito a veículos. Anúncios, Catálogo 0km, Notícias, Lojas, Fornecedores, entre outros, fazem com que cada vez mais pessoas acessem o Portal.</p>
                    
                <p>Nossa audiência tem apresentado expressivos índices de crescimento e devemos isso aos nossos clientes que acreditam em nosso sucesso e aos visitantes que prestigiam os nossos serviços.</p>
                    
                <p>Após 19 anos de muito trabalho, hoje podemos dizer que o Shopcar possui credibilidade no segmento de compra e venda de veículos e confiabilidade nos serviços oferecidos aos nossos clientes, visitantes, parceiros e colaboradores.</p>
                    
                <p>Hoje somos uma referência em veículos. Por esse motivo, nós agradecemos profundamente aos nossos visitantes e clientes e enfatizamos que temos orgulho de trabalhar com ênfase em nosso estado.</p>

            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>