body {
    font-family: 'Barlow', sans-serif;
}

#topo {
    padding: 300px 0;
}

.div-formulario {
    right: 25%;
    top: 10%;
    background: white;
    padding: 0px 0px 30px 20px;
    border-radius: 8px;
}

.div-formulario2 {
    right: 25%;
    top: 10%;
    background: white;
    padding: 0px 0px 30px 20px;
    border-radius: 8px;
}

h3 {
    margin: 10px 0px 18px 0px;
    width: 500px;
    text-align: center;
    font-size: 30px;
    word-wrap: break-word;
    color: #000000;
    font-weight: bolder;
}

form {
    width: 500px;
}

label {
    font-size: 19px;
}

.input-padrao {
    display: block;
    margin: 5px 0px 25px 0px;
    padding: 15px 0px 15px 6px;
    width: 96.5%;
    font-size: 20px;
}

.aviso {
    word-wrap: break-word;
    color: darkgray;
}

.enviar {
    width: 97%;
    position: relative;
    padding: 20px 0px;
    margin-top: 10px;
    background: #630404;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.beneficios li {
    display: inline-block;
    text-align: center;
    width: 22%;
    vertical-align: top;
    margin: 0 0 0 150px;
    padding: 10px 10px;
    box-sizing: border-box;
    color: white;
}

img {
    width: 25%;
    margin-bottom: 30px;
}
